.footer {
  background-color: #333;
  color: whitesmoke;
  padding: 20px 0;
  text-align: center;
  /* background-image:  url("https://images.pexels.com/photos/259280/pexels-photo-259280.jpeg?cs=srgb&dl=pexels-pixabay-259280.jpg&fm=jpg"); */
  border-radius: 5px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 10px;
  min-width: 200px;
}

.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
  margin: 0;
  padding: 0;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  /* border-top: 1px solid #444; */
  padding-top: 10px;
}